:root {
    --text: #ffffff;
    --background: #000000;
    --primary: #d5d4e1;
    --secondary: #fffefe;
    --accent: #ff0000;
}


body {
    font-family: 'Zalando Sans Expanded', sans-serif;
    background: var(--background);
    min-height: 100vh;
    color: var(--text);
    line-height: 1.6;
    padding: 2rem
}

nav {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap;
}

.title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 2rem 0;
    color: var(--text);
}

section {
    background: var(--background);
    border: 2px solid var(--primary);
    border-radius: 12px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 900px;
    position: relative;
    z-index: 1;
}

#day-form {
    text-align: center;
    background: var(--background);
    border: 2px solid var(--primary);
    border-radius: 12px;
    padding: 2rem;
    margin: 2rem auto;
    max-width: 500px;
    position: relative;
    z-index: 2;
}

section h2 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--primary);
}

label {
    color: var(--text);
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
}

input[type="text"] {
    background: var(--secondary);
    color: var(--background);
    padding: 0.5rem;
    border: 2px solid var(--primary);
    border-radius: 4px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

#links {
    text-align: center;
}

#links h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--text);
}

#widgets {
    text-align: center;
}

#widgets h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--text);
}

#widgets button {
    display: inline-block;
    width: auto;
    min-width: 150px;
    margin: 1rem auto;
}

#images {
    position: absolute;
    left: 2rem;
    top: 30px;
    height: calc(100vh - 30px);
    width: 500px;
    text-align: left;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

#images img {
    width: 280px;
    height: 1200px;
    border: none;
    border-radius: 8px;
    display: block;
    object-fit: cover;
}

#images2 {
    position: absolute;
    right: 2rem;
    top: 30px;
    height: calc(100vh - 30px);
    width: 500px;
    text-align: right;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

#images2 img {
    width: 280px;
    height: 1200px;
    border: none;
    border-radius: 8px;
    display: block;
    object-fit: cover;
    margin-left: auto;
}