:root{
--text: #ffffff;
--background: #000000;
--primary: #d5d4e1;
--secondary: #fffefe;
--accent: #c9c9c9;
font-family: Arial, Helvetica, sans-serif;
}

body {
    color: var(--text);
    background: var(--background);
}

h1,
h2,
h3 {color: var(--secondary);}